.red{
    background-color: red;
    font-size: 50px;
    margin-top: 10px;
    border-radius: 30px 30px 30px 30px;
    outline: none;
    margin-left: 20px;
    width: 300px;
}
.Print-tickets{
    border: 2px solid tomato;
    display: flex;
    background-color: rgb(174, 187, 187);
    outline: none;
}
.right{
    border: 4px solid green;
    width: 100%;
    font-size: 50px;
    height: 450px;
}
.left{
    border: 4px solid green;
    width: 100%;
    height: 450px;
    font-size: 50px;
}
.white{
    background-color: white;
    font-size: 50px;
    margin-top: 30px;
    border-radius: 30px 30px 30px 30px;
    outline: none;
    margin-left: 20px;
    width: 300px;
}
.blue{
    background-color: blue;
    font-size: 45px;
    margin-top: 30px;
    border-radius: 30px 30px 30px 30px;
    outline: none;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 300px;
}
.box3{
    text-align: right;
}